<div class="container">
  <h1>All my tasks</h1>

  <% @tasks.each do |task| %>
    <div class="task-card">
      <h3><%= task.title %></h3>
      <% if task.completed %>
        <p>Complete</p>
      <% else %>
        <p>Not complete</p>
      <% end %>
    </div>
  <% end %>

  <%= link_to "Add task", task_new_path %>
</div>

